<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web_day01</display-name>
  <!-- 设置全局的配置信息，实现多个servlet共享数据 -->
	<context-param>
		<!-- 设置配置信息的key -->
		<param-name>name</param-name>
		<!-- 设置配置信息的value -->
		<param-value>传智播客</param-value>
	</context-param>

	<context-param>
		<param-name>address</param-name>
		<param-value>航都路18号</param-value>
	</context-param>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>cn.itcast.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>cn.itcast.servlet.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>demo2</servlet-name>
    <servlet-class>cn.itcast.servlet.Demo2Servlet</servlet-class>
    <!-- 为该servlet设置初始化信息：以key和value的形式存储数据 -->
    <init-param>
    	<!-- 设置初始化信息的key -->
    	<param-name>name</param-name>
    	<!-- 设置初始化信息的value -->
    	<param-value>张三</param-value>
    </init-param>
    <init-param>
    	<param-name>age</param-name>
    	<param-value>23</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>demo3</servlet-name>
  	<servlet-class>cn.itcast.servlet.Demo3Servlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>demo3</servlet-name>
    <url-pattern>/demo3</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>demo4</servlet-name>
  	<servlet-class>cn.itcast.servlet.Demo4Servlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>demo4</servlet-name>
    <url-pattern>/demo4</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>demo5</servlet-name>
  	<servlet-class>cn.itcast.servlet.Demo5Servlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>demo5</servlet-name>
    <url-pattern>/demo5</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>request</servlet-name>
  	<servlet-class>cn.itcast.servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>request2</servlet-name>
  	<servlet-class>cn.itcast.servlet.Request2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request2</servlet-name>
    <url-pattern>/request2</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>request3</servlet-name>
  	<servlet-class>cn.itcast.servlet.Request3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request3</servlet-name>
    <url-pattern>/request3</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>request4</servlet-name>
  	<servlet-class>cn.itcast.servlet.Request4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request4</servlet-name>
    <url-pattern>/request4</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>request6</servlet-name>
  	<servlet-class>cn.itcast.servlet.Request6Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request6</servlet-name>
    <url-pattern>/request6</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>request7</servlet-name>
  	<servlet-class>cn.itcast.servlet.Request7Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>request7</servlet-name>
    <url-pattern>/request7</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>cn.itcast.servlet.Request5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
</web-app>